header.nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:60px;
  border-bottom: 1px solid blueviolet;
}

header.nav ul{
  list-style: none;
  display:flex;
  gap:1rem;
}

.App_loading{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width:100vw;
  min-height:100vh;
}